*{
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.header-image{
    background-image: url(../assets/header.jpg);
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header{
    display: flex;
}

.header-image-icon{
    position: absolute;
    top: 10px;
    right: 15%;
}

.header-text{
    padding-top: 50px;
    color: white;
    width: 95%;
    padding-left: 50px;
}

.bg-title{
    font-size: 38px;
    padding-top: 35px;
}

.bg-title div{
    padding-bottom: 8px;
}

.shop{
    color: black;
    background-color: white;
    border:none;
    border-radius: 20px;
    width: 90px;
    height: 35px;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}

.shop a{
    text-decoration: none;
    color:black;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons-shop{
    align-self: flex-end;
}

.icons-shop a{
    font-size: 22px;
    margin-left: 25px;
    cursor: pointer;
    color: white;
}

nav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

nav a{
    font-size: 16px;
    width: 110px;
    height: 40px;
    padding-top: 8px;
    cursor: pointer;
    text-align: center;
}

.menu-item.selected{
    background-color:#f8d9e0;
    border-radius: 25px;
}

.product-wrapper{
    height: 380px;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: white;
}

.single-product{
    width: 250px;
}

.single-product-image{
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    position: relative;
}

.details{
    display: flex;
    color: rgb(71, 68, 68);
    font-size: 13px;
    justify-content: space-between;
}

.product-title{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.product-title div:nth-child(2){
    font-size: 25px;
    cursor: pointer;
}

.details .product-name{
    font-weight: 500;
}

.details .product-price{
    color: #828282;
}

.product-price{
    display: flex;
}

.categories{
    height: 150px;
    padding: 0px 80px;
    margin-top: 40px;
}

.title{
    font-size: 22px;
}

.types{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.types div{
    width: 150px;
    height: 65px;
    font-size: 14px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 20px;
    padding-top: 22px;
}

.close-icon-wrapper{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.close-icon-wrapper img{
    height: 100%;
    width: auto;
}

/* overlay */

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.overlay-content-wrapper{
    height: 100%;
    display: flex;
    margin: 19% auto;
    justify-content: center;
    z-index: 6;
}

.single-product-overlay{
    background-image: url(../assets/coats/coat-1.jpg);
    height: 250px;
    width: 330px;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    top: 95px;
}

.single-product-details{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 27px;
    height: 420px;
    width: 330px;
    background-color: white;
    border-radius: 30px;
    position: relative;
}

.details-overlay .product-name{
    font-weight: 700;
    font-size: 28px;
}

.details-overlay .product-price{
    font-size: 20px;
    color: #828282;
}

.sizes div{
    font-size: 13px;
}

.sizes span{
    display: inline-block;
    width: 17px;
    height: 17px;
    font-size: 8px;
    color: #828282;
    font-weight: 700;
    text-align: center;
    border:1px solid #828282;
    border-bottom: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

.sizes span:hover{
    background-color:#f8d9e0;
}

.categories-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 10px 0px;
}

.categories-wrapper div{
    height: 35px;
    width: 90px;
    font-size: 13px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#e7e8e9;
    border-radius: 25px; 
}

.categories-wrapper div:hover{
    background-color:#f8d9e0;
}

.comp-wrapper{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding:0px 20px 10px 0px;
}

.composition div, .country div{
    color: #828282;
    font-size: 13px;
}

.add{
    margin-top: 20px;
    width: 290px;
    height: 40px;
    background-color:  #333333;
    color:#e7e8e9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.care div{
    padding: 5px 10px 0px 0px;
    color: #828282;
    font-size: 14px;
}

.favorites-content-wrapper,
.cart-content-wrapper{
    position: absolute;
    background-color: white;
    top: 55%;
    bottom: 0;
    width: 100%;
}

.favorites-products,
.cart-products{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.favorite-btn{
    height: 35px;
    width: 40px;
    cursor: pointer;
    background-image: url('../assets/icon-black.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.favorite-btn.selected{
    background-image: url('../assets/icon-pink.png');
}

.icon{
    position: relative;
}

#removeFavoritesBtn,
#removeCartBtn {
    margin: 10px 0px 20px 10px;
    width: 200px;
    height: 60px;
    font-size: 14px;
    background-color: lightgray;
    border-radius: 20px;
    border: none;
}

.favorites-number,
.in-cart-number {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f1afad;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 17px;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    display: none;
}

.hidden{
    display: none;
}